{% extends 'nio_app/base_portal.html' %}
{% load static %}
{% block content %}
<section class="page-title">
  <div class="container">
    <div class="inner">
      <div class="column">
        <div class="title">
          <a href="{% url 'nio_app:news' %}"><h1>Новини</h1></a>
        </div><!-- .title -->
      </div><!-- .column -->
      <div class="column">
        <div class="breadcrumbs">
          <a href="{% url 'nio_app:index_portal' %}">Головна</a>
          <span class="delimiter"><i class="icon-arrow-right"></i></span>
          <span>Новини</span>
        </div><!-- .breadcrumbs -->
      </div><!-- .column -->
    </div>
  </div>
</section><!-- .page-title -->

<!-- Container -->
<div class="container">
  <div class="row">

    <!-- Content -->
    <div class="col-lg-9 col-md-8 col-lg-push-3 col-md-push-4">

      <!-- Post -->
      {% for n in new %}
      <article class="post-item">
        <a href="{% url 'nio_app:news_single' n.slug %}" class="post-thumb waves-effect">
          <img src="{{ n.photo_1.url }}" alt="Post01" style="width: 100%; height: auto; object-fit: cover;">
        </a><!-- .post-thumb -->
        <div class="post-body">
          <div class="post-meta">
            <div class="column">
              {% for c in n.category.all %}
              <span>
                <i class="icon-ribbon"></i>
                <a href="{% url 'nio_app:news_category' c.slug %}">{{ c.name }}</a>
              </span>
              {% endfor %}
              <span class="post-comments">
                <i class="icon-speech-bubble"></i>
                <a href="#">{{ n.reviewsnews_set.count }}</a>
              </span>
            </div>
            <div class="column"><span>{{ n.pub_date }}</span></div>
          </div><!-- .post-meta -->
          <a href="{% url 'nio_app:news_single' n.slug %}" class="post-title">
            <h3>{{ n.name }}</h3>
          </a>
          <p>{{ n.description }}</p>
          <a href="{% url 'nio_app:news_single' n.slug %}">Читати далі</a>
        </div><!-- .post-body -->
      </article><!-- .post-item -->
      {% endfor %}

      <!-- Pagination -->
        {% include 'nio_app/include/pagination.html' %}
    </div><!-- .col-lg-9.col-md-8 -->

      <!-- Sidebar -->
        {% include 'nio_app/include/sidebar_news.html' %}
  </div><!-- .row -->
</div><!-- .container -->
{% endblock content %}
