{% load static %}
<!-- Footer -->
    <footer class="footer">
      <div class="top-footer">
        <div class="container">
          <div class="tools">
            <div class="cell">
              <i><img src="{% static 'nio_app/img/footer/icons/help.png' %}" alt="Email"></i>
              <span><a href=mailto:savolk@zorya.com?subject=Повідомлення%20з%20порталу&amp;body=Доброго%20дня">ПОШТА НДВ</a></span>
            </div>
            <div class="cell">
              <i><img src="{% static 'nio_app/img/footer/icons/phone.png' %}" alt="Phone"></i>
              <span><a href="#"></a>9-78-33</span>
            </div>
          </div>
        </div><!-- .container -->
      </div><!-- .top-footer -->

      <div class="bottom-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_text">
                <a href="{% url 'nio_app:index_portal' %}" class="site-logo">
                  <img src="{% static 'nio_app/img/logo.png' %}" alt="Портал">
                </a><!-- .site-logo -->
                <p>Портал розроблено для ознайомлення з технічними можливостями НДВ. Будь-яка надана інформація не може бути використана без письмового дозволу керівника підрозділу.</p>
              </section><!-- .widget.widget_text -->
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_pages">
                <h3 class="widget-title">
                  <i class="icon-ribbon"></i>
                  Портал НДВ
                </h3>
                <ul>
                  <li><a href="{% url 'nio_app:index_portal' %}">Головна</a></li>
                  <li><a href="{% url 'nio_app:index_portal' %}#divs">Підрозділи</a></li>
                  <li><a href="{% url 'nio_app:staff' %}">Персонал</a></li>
                </ul>
              </section><!-- .widget.widget_pages -->
            </div><!-- .col-md-3 -->
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_pages">
                <h3 class="widget-title">
                  <i class="icon-cog"></i>
                  Допомога
                </h3>
                <ul>
                  <li><a href="#">Загальна інформація</a></li>
                  <li><a href="#">Категорії</a></li>
                  <li><a href="{% url 'nio_app:contacts' %}">Зв'язок</a></li>
                </ul>
              </section><!-- .widget.widget_pages -->
            </div><!-- .col-md-3 -->
            <div class="col-md-3 col-sm-6">
              <section class="widget widget_pages">
                <h3 class="widget-title">
                  <i class="icon-globe"></i>
                  Проекти
                </h3>
                <ul>
                  <li><a href="#">Головні проекти</a></li>
                  <li><a href="#">Новини</a></li>
                  <li><a href="{% url 'nio_app:publics' %}">Публікації</a></li>
                </ul>
              </section><!-- .widget.widget_pages -->
            </div><!-- .col-md-3 -->
          </div><!-- .row -->
          <div class="copyright">
            <div class="column">
              <p>&copy; Портал НДВ 2022. Розроблено <a href="mailto:vvsav@zorya.com?subject=Повідомлення%20з%20порталу&amp;body=Доброго%20Віталій!" class="text-sm space-top">vvsav@zorya.com</a>, задля інформування. Усі права захищено.
            </div><!-- .column -->
          </div><!-- .copyright -->
        </div><!-- .container -->
      </div><!-- .bottom-footer -->
    </footer><!-- .footer -->
  </div><!-- .page-wrapper -->