{% load static %}
<header class="navbar navbar-sticky">
  <!-- Toolbar -->
  <div class="topbar">
    <div class="container">
      <a href="{% url 'nio_app:index_portal' %}" class="site-logo">
        <img src="{% static 'nio_app/img/logo.png' %}" alt="Портал НДВ">
      </a><!-- .site-logo -->
      <!-- Mobile Menu Toggle -->
      <div class="nav-toggle"><span></span></div>
      <div class="toolbar">
        <a href="#" class="btn btn-sm btn-default btn-icon-right waves-effect waves-light" data-toggle="modal" data-target="#loginModal">Увійти<i class="icon-head"></i></a>
        <div class="search-btn">
          <i class="icon-search"></i>
          <form method="post" class="search-box">
            <input type="text" class="form-control input-sm" placeholder="Пошук">
            <button type="submit"><i class="icon-search"></i></button>
          </form>
        </div><!-- .search-btn -->
      </div><!-- .toolbar -->
    </div><!-- .container -->
  </div><!-- .topbar -->
  <!-- Main Navigation -->
  {% for m in main %}
  <div class="container">
    <nav class="main-navigation">
      <ul class="menu">
        <li class="current-menu-item menu-item-has-children">
          <a href="#"><i class="flaticon-technology46"></i>Головна</a>
          <div class="mega-menu">
            <ul>
              <li class="current-menu-item"><a href="{% url 'nio_app:index_portal' %}">Головна</a></li>
              <li><a href="{% url 'nio_app:index_portal' %}#divs">Підрозділи</a></li>
              <li><a href="{% url 'nio_app:staff' %}">Персонал</a></li>
              <li><a href="#">Документація</a></li>
              <li><a href="#">Публікації</a></li>
              <li><a href="#">Новини</a></li>
            </ul>
          </div>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-space-ship2"></i>Підрозділи</a>
          <ul class="sub-menu">
            <li><a href="#">{{m.abr}}</a></li>
            {% for d in m.divisions.all %}
            <li><a href="{% url 'nio_app:division' d.slug %}">{{d.abr}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-technological"></i>Персонал</a>
          <ul class="sub-menu">
            <li><a href="{% url 'nio_app:staff' %}">Увесь персонал</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-writing50"></i>Документація</a>
          <ul class="sub-menu">
            {% for v in doc|slice:":-1" %}
            {% for i in v|slice:"1:" %}
            <li><a href="#">{{i}}</a></li>
            {% endfor %}
            {% endfor %}
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-drawing33"></i>Проекти</a>
          <ul class="sub-menu">
            {% for pr in projects %}
            <li><a href="#">{{pr.name|truncatewords:5}}</a></li>
            {% endfor %}
            <li><a href="#">Всі проекти</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-positive"></i>Допомога</a>
          <ul class="sub-menu">
            <li><a href="#">Загальна інформація</a></li>
            <li><a href="#">Категорії</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="#"><i class="flaticon-light129"></i>Інше</a>
          <ul class="sub-menu">
            <li><a href="#">Про розробку</a></li>
            <li><a href="#">Зв'язок</a></li>
          </ul>
        </li>
      </ul><!-- .menu -->
    </nav><!-- .main-navigation -->
  </div><!-- .container -->
  {% endfor %}
</header><!-- .navbar -->