{% load static %}
  <!-- Toolbar -->
  <div class="topbar">
    <div class="container">
      <a href="{% url 'nio_app:index_portal' %}" class="site-logo">
        <img src="{% static 'nio_app/img/logo.png' %}" alt="Портал НДВ">
      </a><!-- .site-logo -->
      <!-- Mobile Menu Toggle -->
      <div class="nav-toggle"><span></span></div>
      <div class="toolbar">
        <!-- Вхід до адмінки -->
        {% if request.user.is_authenticated %}
        {% if user.is_staff %}
        <a href="{% url 'admin:index' %}"
           class="btn btn-sm btn-default btn-icon-right waves-effect waves-light">
           ADMIN
        </a>
        {% endif %}
        {% endif %}
        <!-- Вхід чи вихід з акаунту -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'nio_app:logout' %}"
           class="btn btn-sm btn-default btn-icon-right waves-effect waves-light">
           {{user.username}} | Вийти
        </a>
        {% else %}
         <a href="{% url 'nio_app:login' %}"
           class="btn btn-sm btn-default btn-icon-right waves-effect waves-light">
           Увійти
        </a>
        {% endif %}
        <div class="search-btn">
          <i class="icon-search"></i>
          <form method="get" class="search-box" action="{% url 'search:search' %}">
            <input type="text" class="form-control input-sm" placeholder="Пошук" name="search"
            pattern="^[А-Яа-яґҐЁёІіЇїЄє'''\s-]+$" title="Не підтримуються латинськи символи" >
            <button type="submit"><i class="icon-search"></i></button>
          </form>
        </div><!-- .search-btn -->
      </div><!-- .toolbar -->
    </div><!-- .container -->
  </div><!-- .topbar -->
