{% load static %}
<!-- JavaScript (jQuery) libraries, plugins and custom scripts -->
  <script src="{% static 'nio_app/js/vendor/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/preloader.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/bootstrap.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/waves.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/placeholder.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/smoothscroll.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/waypoints.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/icheck.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/velocity.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/magnific-popup.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/owl.carousel.min.js' %}"></script>
  <script src="{% static 'nio_app/js/vendor/scrollreveal.min.js' %}"></script>
  <script src="{% static 'nio_app/js/scripts.js' %}"></script>