{% load static %}
{% load nio_tags %}
 <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 col-lg-pull-9 col-md-pull-8">
          <div class="space-top-3x visible-sm visible-xs"></div>
          <aside class="sidebar space-bottom-2x">
            <section class="widget widget_categories">
              <h3 class="widget-title">
                <i class="icon-ribbon"></i>
               Пошук за категоріями
              </h3>
              <ul>
                  {% for m in models %}
                  <li><a href="#">
                   {{ m.0 }}
                  <span>{{ m.1 }}</span>
                </a>
                </li>
                  {% endfor %}
              </ul>
            </section><!-- .widget.widget_categories -->
          </aside><!-- .sidebar -->
        </div>