{% extends 'nio_app/base_portal.html' %}
{% load static %}
{% block content %}
    <div class="container text-center padding-top-3x">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <img class="block-center space-top-2x" src="{% static 'nio_app/img/404.png' %}" alt="404" style="max-height: 200px">
          <h2 class="text-thin space-top">404<br>Сторінка не знайдена</h2>
          <p class="text-xs text-muted text-uppercase space-bottom-2x">Сторінка, що була запитана, не знайдена, або знаходиться на модерації.<br>Якщо у вас виникли невідкладні запитання, то зверніться до розробника (контакти зв'язку вказано знизу цієї сторінки)</p>
          <a href="{% url 'nio_app:index_portal' %}" class="btn btn-default waves-effect waves-light">Повернутися на головну сторінку</a>
        </div>
      </div><!-- .row -->
    </div><!-- .container -->
{% endblock content %}
