<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=l">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Портал НИО</title>
    {% load static %}
    <link href="{% static 'nio_app/css/style.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'nio_app/images/logo.ico' %}"/>

    {% block head %}
    <p style="font-size: xxx-large; color: chartreuse; align-content: center">
        <img src="{% static 'nio_app/images/logo.png' %}" style="width: 75px; height: 75px;">
        "Портал НДВ"
    </p>
    {% endblock %}
</head>

<body>
<div class="container_fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidebar-nav">
                <li>
                    <a href="{% url 'home' %}">
                        Головна сторінка
                    </a>
                </li>
                <li>
                    <a href="{% url 'divisions' %}">
                        Всі підрозділи
                    </a>
                </li>
                <li>
                    <a href="{% url 'documents' %}">
                        Документація
                    </a>
                </li>
                <li>
                    <a href="admin/">
                        Адміністрування сайту</a>
                </li>
            </ul>
            {% endblock %}
        </div>
        <div class="col-sm-10">
            {% block content %}{% endblock %}
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                            <a href="{{request.path}}?page={{page_obj.previous_page_number}}">
                                Попередня
                            </a>
                            {% endif %}
                            <span class="page-current">
                                Сторінка {{page_obj.number}} з {{page_obj.paginator.num_pages}}.
                            </span>
                            {% if page_obj.has_next %}
                            <a href="{{request.path}}?page={{page_obj.next_page_number}}">
                                Наступна
                            </a>
                            {% endif %}
                        </span>
            </div>
            {% endif %}
            {% endblock %}
            {% block footer %}
            {% block copyright %}
            <p>Copyright Vivog, 2022. Всі права захищенні</p>
            {% endblock %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
<footer class="black"></footer>
</html>