{% extends 'nio_app/base_portal.html' %}
{% load static %}

{% block main %}
<li class="menu-item-has-children">
  {% endblock main %}
  {% block divs %}
<li class="menu-item-has-children">
  {% endblock divs %}
  {% block staff %}
<li class="menu-item-has-children">
  {% endblock staff %}
  {% block docs %}
<li class="menu-item-has-children">
  {% endblock docs %}
  {% block projects %}
<li class="menu-item-has-children">
  {% endblock projects %}
  {% block help %}
<li class="menu-item-has-children">
  {% endblock help %}
  {% block other %}
<li class="menu-item-has-children current-menu-item">
  {% endblock other %}


{% block content %}
    <section class="page-title">
      <div class="container">
        <div class="inner">
          <div class="column">
            <div class="title">
              <h1>Категорії</h1>
            </div><!-- .title -->
          </div><!-- .column -->
          <div class="column">
            <div class="breadcrumbs">
              <a href="{% url 'nio_app:index_portal' %}">Головна</a>
              <span class="delimiter"><i class="icon-arrow-right"></i></span>
              <span>Категорії</span>
            </div><!-- .breadcrumbs -->
          </div><!-- .column -->
        </div>
      </div>
    </section><!-- .page-title -->

    <!-- Content -->
    <section class="container">
      <h2 class="block-title text-center">
        Категорії
        <small>Обери те, що треба</small>
      </h2>

      <!-- Filters -->
      <div class="text-center padding-top">
        <ul class="nav-filters space-bottom-2x text-center">
          <li class="active"><a href="#" data-filter="*">Усі</a></li>
          <li><a href="#" data-filter=".main">Головні</a></li>
          <li><a href="#" data-filter=".other">Другорядні</a></li>
        </ul><!-- .nav-filters -->
      </div>
      
      <!-- Категорії -->
      <div class="grid isotope-grid col-3 filter-grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        <!-- Категорія -->
        <div class="grid-item main">
          <a href="{% url 'nio_app:index_portal' %}#divs" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/div2.svg' %}" alt="Підрозділи">
              <h3 class="portfolio-title">Підрозділи</h3>
            </div>
          </a>
        </div><!-- .grid-item.main -->

         <!-- Категорія -->
        <div class="grid-item main">
          <a href="{% url 'nio_app:staff' %}" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/staff2.svg' %}" alt="Персонал">
              <h3 class="portfolio-title">Персонал</h3>
            </div>
          </a>
        </div><!-- .grid-item.main -->

         <!-- Категорія -->
        <div class="grid-item other">
          <a href="{% url 'nio_app:docs' %}" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/staff2.svg' %}" alt="Документація">
              <h3 class="portfolio-title">Документація</h3>
            </div>
          </a>
        </div><!-- .grid-item.other -->

         <!-- Категорія -->
        <div class="grid-item main">
          <a href="#" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/div2.svg' %}" alt="Проекти">
              <h3 class="portfolio-title">Проекти</h3>
            </div>
          </a>
        </div><!-- .grid-item.main -->

        <!-- Категорія -->
        <div class="grid-item other">
          <a href="{% url 'nio_app:publics' %}" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/div2.svg' %}" alt="Публікації">
              <h3 class="portfolio-title">Публікації</h3>
            </div>
          </a>
        </div><!-- .grid-item.other -->

         <!-- Категорія -->
        <div class="grid-item other">
          <a href="{% url 'nio_app:news' %}" class="portfolio-item">
            <div class="thumbnail waves-effect waves-light">
              <img src="{% static 'nio_app/img/cats/div2.svg' %}" alt="Новини">
              <h3 class="portfolio-title">Новини</h3>
            </div>
          </a>
        </div><!-- .grid-item.other -->
      </div><!-- .isotope-masonry-grid -->

      <!-- Load More Button -->
      <div class="text-center padding-top">
        <a href="{% url 'nio_app:contacts' %}" class="btn btn-default btn-ghost waves-effect">Чогось не вистачає?</a>
      </div>
    </section><!-- .container -->

{% endblock content %}