{% extends 'nio_app/base_portal.html' %}
{% load static %}

{% block main %}
<li class="menu-item-has-children">
  {% endblock main %}
  {% block divs %}
<li class="menu-item-has-children current-menu-item ">
  {% endblock divs %}
  {% block staff %}
<li class="menu-item-has-children">
  {% endblock staff %}
  {% block docs %}
<li class="menu-item-has-children">
  {% endblock docs %}
  {% block projects %}
<li class="menu-item-has-children">
  {% endblock projects %}
  {% block help %}
<li class="menu-item-has-children">
  {% endblock help %}
  {% block other %}
<li class="menu-item-has-children">
  {% endblock other %}

{% block content %}
    <section class="page-title">
      <div class="container">
        <div class="inner">
          <div class="column">
            <div class="title">
              <a href="{% url 'nio_app:division' div.slug %}"><h1>{{ div.abr }}</h1></a>
            </div><!-- .title -->
          </div><!-- .column -->
          <div class="column">
            <div class="breadcrumbs">
              <a href="{% url 'nio_app:index_portal' %}">Головна</a>
              <span class="delimiter"><i class="icon-arrow-right"></i></span>
              <span>{{ div.abr }}</span>
            </div><!-- .breadcrumbs -->
          </div><!-- .column -->
        </div>
      </div>
    </section><!-- .page-title -->

    <!-- Підрозділ -->
    <section class="shop-single container">
      <div class="row">
        <div class="col-lg-5 col-md-6 space-bottom-2x">
          <div class="image-carousel">
            <div class="inner">
              <img src="{{ div.photo.url }}" alt="Image">
              {% for pic in div.pics.all %}
              {% if pic %}
              <img src="{{pic.pic.url}}" alt="Image" style="width: 100%; height: 50%; object-fit: cover;">
              {% endif %}
              {% endfor %}
            </div>
          </div><!-- .image-carousel -->
        </div><!-- .col-lg-5.col-md-6 -->
        <div class="col-lg-7 col-md-6 space-bottom-2x">
          <div class="shop-meta space-bottom-2x">
            <span>у</span>
            <span>
              <i class="icon-ribbon hidden-md"></i>
              <a href="{% url 'nio_app:index_portal' %}#divs">Підрозділах</a>
            </span>
          </div>
          <h2 class="shop-title"><a href="#">{{div.name}}</a></h2>
          {% for text in object_list %}
          <p class="text-gray">{{text|safe}}</p>
          {% endfor %}
          <!-- Pagination -->
        {% include 'nio_app/include/pagination.html' %}
          <div class="post-tools space-top">
            <div class="column">
              <div class="tags-links">
                <a href="{% url 'nio_app:index_portal' %}#divs">Підрозділи</a>
              </div>
            </div><!-- .column -->
          </div>
        </div><!-- .col-lg-7.col-md-6 -->
      </div><!-- .row -->
      <div class="row padding-top">
        <div class="col-sm-6 space-bottom">
          <!-- Nav Tabs -->
          <ul class="nav-tabs" role="tablist">
            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Інфо</a></li>
            <li><a href="#tab2" role="tab" data-toggle="tab">Огляд</a></li>
            <li><a href="#tab3" role="tab" data-toggle="tab">Зв'язок</a></li>
          </ul><!-- .nav-tabs -->
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane transition fade in active" id="tab1">
              <span class="text-bold">Чисельність</span>
              <a href="{% url 'nio_app:staff' %}filter/?divs={{div.pk}}&sort=fio">
                <p class="text-gray">{{div.num_staff}}</p></a>
              <span class="text-bold">Кількість проектів</span>
              <p class="text-gray">{{div.num_projects}}</p>
              <span class="text-bold">Кількість документації</span>
              <p class="text-gray">{{div.num_docs}}</p>
            </div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab2">
              <div class="embed-responsive embed-responsive-16by9">
<!--                Загрузи відео про підрозділ!!!-->
                <iframe src="#" width="640" height="360"></iframe>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane transition fade" id="tab3">
              <h3>Є запитання? Чекаємо на повідомлення</h3>
              <form method="post">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="support_name" class="form-control" placeholder="Ім'я" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="email" name="support_email" class="form-control" placeholder="Пошта" required>
                  </div>
                </div>
                <textarea name="support_message" rows="6" placeholder="Повідомлення" required></textarea>
                <button type="submit" class="btn btn-default btn-block waves-effect waves-light">Відправити</button>
              </form>
            </div>
          </div><!-- .tab-content -->
        </div><!-- .col-sm-6 -->
        <div class="col-sm-6 padding-top-2x">
          <div class="row text-center">
            {% for t in div.theses.all %}
            <div class="col-sm-4 col-xs-6 padding-bottom">
              <p class="space-bottom-none">{{ t.name }}</p>
              <img src="{{ t.photo.url }}" class="block-center" alt="Feature">
            </div>
            {% endfor %}
          </div>
        </div><!-- .col-sm-6 -->
      </div><!-- .row -->
    </section><!-- .shop-single -->

{% endblock content %}


