{% extends "nio_app/base_temple.html" %}

{% block content %}
<h1><strong><i>{{div_name}}</i></strong></h1>
<h2><strong>Короткий опис сфери діяльності:</strong></h2>
<p>
    {{div_description}}
</p>
<table>
    <tr>
        <td style="text-align: left; vertical-align: top; padding-right: 50px">
            <h2><strong>Відомості про персонал:</strong></h2>
            <p>Загальна кількість: {{num_staff}}</p>
            <p><a href="{% url 'staff' %}{{div_slug}}">Персонал "{{div_name}}"</a></p>
        </td>
        <td style="text-align: left; vertical-align: top;">
            <h2><strong>Відомості про документацію:</strong></h2>
            <table>
                <tr>
                    <td style="text-align: left; vertical-align: top; padding-right: 50px">
                        Впроваджено: {{doc_implemented}}
                    </td>
                    <td style="text-align: left; vertical-align: top; padding-right: 50px">
                        У розробці: {{doc_develop}}
                    </td>
                    <td>На узгоджені: {{doc_agreement}}</td>
                </tr>
            </table>
            <hr>
            <table>
                {% if docs %}
                {% for d in docs %}
                {% if d.1 > 0 %}
                <tr>
                    <td>{{ d.0 }}</td>
                    <td style="padding-left: 15px">{{ d.1 }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </table>
        </td>
    </tr>
</table>
{% endblock %}