{% extends "nio_app/base_temple.html" %}

{% block content %}
<h1><strong><i>{{div_name}}</i></strong></h1>
<h2><strong>Короткий опис сфери діяльності:</strong></h2>
<p>
    {{div_description}}
</p>
<table>
    <tr>
        <td style="text-align: left; vertical-align: top; padding-right: 50px">
            <h2><strong>Відомості про персонал:</strong></h2>
            <p>Загальна кількість: {{num_staff}}</p>
            <p><a href="">Персонал "{{div_name}}"</a></p>
        </td>
        <td style="text-align: left; vertical-align: top;">
            <h2><strong>Відомості про документацію:</strong></h2>
            <table>
                <tr>
                    <td style="text-align: left; vertical-align: top; padding-right: 15px">
                        Заголом впроваджено: {{doc_implemented}}
                    </td>
                    <td style="text-align: left; vertical-align: top; padding-right: 15px">
                        Заголом у розробці: {{doc_develop}}
                    </td>
                    <td>Заголом на узгоджені: {{doc_agreement}}</td>
                </tr>
            </table>
            <ul>
                <li>Методики: {{doc_m}}</li>
                <li>Технологічні інструкції: {{doc_ti}}</li>
                <li>Технічні звіти: {{doc_tz}}</li>
                <li>Технічні довідки: {{doc_td}}</li>
                <li>Паспорти: {{doc_p}}</li>
                <li>Керівництва з експлуатації: {{doc_ke}}</li>
                <li>Інше: {{doc_i}}</li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}