{% extends "nio_app/base_temple.html" %}
{% block title %}
    <title>{{title_head}}</title>
    {% endblock %}
{% block content %}
<h2><strong>{{ div }}</strong></h2>
     {% if docs %}
    {% for doc in docs %}
        {% if doc.doc_status == "В" %}
        <h4><strong>Впроваджено</strong></h4>
        <ul>
            <li>
                <a href="{{ doc.slug }}">
                    {{doc.release_date}} | {{doc.doc_name}}
                </a>
            </li>
        </ul>
        {% elif doc.status == "У" %}
        <h4><strong>На узгоджені</strong></h4>
        <ul>
            <li>
                <a href="{{ doc.slug }}">
                    {{doc.doc_name}}
                </a>
            </li>
        </ul>
            {% else %}
        <h4><strong>В розробці</strong></h4>
        <ul>
            <li>
                <a href="{{ doc.slug }}">
                    {{doc.doc_name}}
                </a>
            </li>
        </ul>
            {% endif %}
            {% endfor %}
    {% else %}
        <p>Документація відсутня</p>
    {% endif %}
<hr>
<!--Адрес должен быть уникальным и не повторять чать других адресов иначе запутывается что открывать-->
{% if request.user.is_authenticated %}
<div><a href="#"><h4><strong>Додати документ</strong></h4></a></div>
{% endif %}
{% endblock %}
