{% extends "nio_app/base_temple.html" %}

{% block content %}
<h1>Головна сторінка</h1>
    <p>
        Ласкаво просимо на <em>Портал НДВ</em>. Сайт стрворено для легкого пошуку необхідної інформації
    </p>
<h2>Динамічний контент</h2>
    <p>
        Портал НИО містить наступну кількість інформції:
    </p>
    <ul>
        <li><strong>Кількість підрозділів:</strong> {{num_divisions}} </li>
        <li><strong>Загальна кількість персоналу:</strong> {{num_staff}} </li>
        <li><strong>Загальна кількість документації:</strong> {{num_doc}} </li>
    </ul>
{% endblock %}