{% extends 'nio_app/base_portal.html' %}
{% load static %}

{% block content %}
    <!-- Створи новий акаунт -->
    <section class="fw-section space-top padding-top-3x padding-bottom-2x text-center" style="background-image: url({% static 'nio_app/img/home/hosting-bg-01.jpg'%})">
      <div class="container padding-bottom-3x">
        <h1 class="scrollReveal sr-bottom">Портал НДВ, пізнавай нові технології</h1>
        <h4 class="text-gray text-normal scrollReveal sr-bottom sr-delay-1">Створи акаунт за <strong>30</strong> секунд</h4>
        <div class="row padding-top padding-bottom-3x scrollReveal sr-scaleUp sr-delay-2 sr-ease-in-out-back">
          <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <form method="post" autocomplete="off">
              <div class="form-group">
                <label for="ca_email" class="sr-only"></label>
                <input type="email" class="form-control" id="ca_email" placeholder="Пошта" required readonly onfocus="this.removeAttribute('readonly')">
              </div>
              <div class="form-group">
                <label for="ca_password" class="sr-only"></label>
                <input type="password" class="form-control" id="ca_password" placeholder="Пароль" required autocomplete="off">
              </div>
              <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Створи акаунт</button>
            </form>
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .fw-section -->

    <!-- Пошук документа -->
    <section class="fw-section bg-default border-top border-bottom padding-top-3x padding-bottom-3x" style="z-index: 2;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 mobile-center">
            <h2 class="block-title">Пошук документа<small>Знайди те, що треба</small></h2>
          </div>
          <div class="col-lg-8 col-md-7 col-sm-6">
            <form method="get" class="domain-search">
              <input type="text" class="form-control" placeholder="Пошук документа">
              <div class="domain-dropdown">
                <span>Тип</span>
                <div class="dropdown">
                  <div>
                    <label class="checkbox checkbox-inline">
                      <input type="checkbox" checked> {{doc.0.0}}
                    </label>
                  </div>
                    {% for d in doc|slice:"1:-1" %}
                    {% for i in d|slice:":1" %}
                  <div>
                    <label class="checkbox checkbox-inline">
                      <input type="checkbox"> {{i}}
                    </label>
                  </div>
                    {% endfor %}
                    {% endfor %}
                </div>
              </div>
              <button type="submit" class="waves-effect waves-light"><i class="icon-search"></i></button>
            </form><!-- .domain-search -->
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .fw-section.bg-default.border-top.border-bottom -->

    <!-- Структура -->
    <section class="fw-section padding-top-3x padding-bottom-3x scrollReveal sr-bottom sr-ease-in-out-quad">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 col-sm-6 mobile-center scrollReveal sr-bottom sr-ease-in-out-quad">
            <h2 class="block-title">Структура НДВ<small>Порядок породжує злагодженість</small></h2>
          </div>
        </div><!-- .row -->

        <!-- Таблиця структури -->
        <div class="pricing-table space-top scrollReveal sr-bottom sr-delay-1 sr-ease-in-out-quad">
          <table>
            <colgroup>
              <col>
              <col>
              <col>
              <col>
              <col>
              <col>
            </colgroup>
            <tr>
              <td>&nbsp;</td>
              {% for d in div %}
              <td>
                <span class="text-bold" style="font-size: 20px">{{d.abr}}</span>
                <a href="#" class="text-sm space-top">Відкрити</a>
              </td>
              {% endfor %}
            </tr>
            <tr>
              <td class="text-gray text-right">Чисельність</td>
              {% for d in div %}
              <td class="text-bold">{{d.num_docs}}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="text-gray text-right">Кількість документації</td>
              {% for d in div %}
              <td class="text-bold">{{d.num_docs}}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="text-gray text-right">Розташування</td>
              {% for d in div %}
              <td class="text-normal">{% for l in d.locs.all %}{{l.loc}}<br>{% endfor %}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="text-gray text-right">Пов'язані підрозділи</td>
              {% for d in div %}
              <td class="text-normal">{% for c in d.coops.all %}{{c.name}}<br>{% endfor %}</td>
              {% endfor %}
            </tr>
            <tr>
              <td class="text-gray text-right">Керіники</td>
              {% for d in div %}
              <td class="text-bold">{{d.boss}}</td>
              {% endfor %}
            </tr>
          </table><!-- table -->

        </div><!-- .pricing-table -->
      </div><!-- .container -->
    </section><!-- .fw-section -->

    <!-- Проекти -->
    <section class="fw-section bg-default border-top padding-top-3x padding-bottom-3x">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-5 mobile-center padding-bottom scrollReveal sr-left">
            <h2 class="block-title">Голонвні проекти<small>Що виходить за межі твоєї уяви?</small></h2>
            <p class="text-gray text-lg">Ми маємо усі можливості для реалізації будь-яких технічних ідей, починаючи з розробки документації, та закінчуючи повноцінним впровадженням у сфері застосування</p>
            <a href="#" class="btn btn-default waves-effect waves-light btn-icon-right">
              Переглянути проекти
              <i class="icon-arrow-right"></i>
            </a>
          </div>
          <div class="col-lg-8 col-md-7 scrollReveal sr-right">
            <img src="{% static 'nio_app/img/home/features.png' %}" alt="Features">
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .fw-section.bg-default.border-top -->

    <!-- Можливості -->
    <section class="fw-section arrow-top border-bottom padding-top-3x padding-bottom-3x">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/01.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Персональний котроль</h3>
                <p class="bwi-text">Кожен член нашої команди відчуває персональну відповідальність за усі операції, що виконує. Контроль якості персоналізовано та, де можливо, автоматизовано</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/02.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Самостійне налогодження ПЗ</h3>
                <p class="bwi-text">Наші спеціалісти самостійно налагоджують проекти програмного забезпечення. Розробляють програмні застосунки, тощо.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/03.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Сучасно побудова обладнання</h3>
                <p class="bwi-text">Ми маємо підрозділи з розробки сучасного обладнання з мікропроцесорною архітектурою</p>
              </div>
            </div>
          </div>
        </div><!-- .row -->
        <div class="row">
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/04.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Випробувальна база</h3>
                <p class="bwi-text">У складі підрозділів є розгорнута система випробувальних засобів: стендів, установок, приладів, тощо</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/05.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Потужне обладнання</h3>
                <p class="bwi-text">Задля виконання поставлених завдань, ми використовуємо усі можливі та наявні потужності, що значно прискорюють технологічні та виробничі процеси</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Remove class ".bwi-expandable" to expand block and make it static. -->
            <div class="box-with-icon bwi-expandable text-center">
              <div class="bwi-inner">
                <div class="bwi-icon">
                  <img src="{% static 'nio_app/img/features/06.png' %}" alt="Feature">
                </div>
                <h3 class="bwi-title">Обробка даних</h3>
                <p class="bwi-text">Ми використовуємо усі можливі потужності для обробки даних, виконуємо різноманітні перетворювання, формуємо пакети графічного чи файлового відображення</p>
              </div>
            </div>
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .fw-section.arrow-top.border-bottom -->

    <!-- Досягнення -->
    <section class="fw-section next-to-footer padding-top-3x padding-bottom-3x" style="background-image: url({% static 'nio_app/img/home/testimonials-bg.jpg' %});">
      <div class="container">
        <h2 class="block-title text-center">Більше 10,000 експериментів та більше 20,000 документів різного ґатунку<small>Працюємо задля розвитку, стабільності та майбутнього</small></h2>
        <div class="row padding-top">
          <div class="col-sm-4 scrollReveal sr-scaleDown sr-ease-in-out-back">
            <div class="testimonial">
              <div class="author-ava">
                <img src="{% static 'nio_app/img/testimonials/01.png' %}" alt="Author">
              </div>
              <h3 class="author-name">Юрій Дерій</h3>
              <p class="text-gray">Директор з маркетингу</p>
              <div class="text">Побажання</div>
            </div>
          </div>
          <div class="col-sm-4 scrollReveal sr-scaleDown sr-delay-1 sr-ease-in-out-back">
            <div class="testimonial">
              <div class="author-ava">
                <img src="{% static 'nio_app/img/testimonials/02.png' %}" alt="Author">
              </div>
              <h3 class="author-name">Геннадій Чорний</h3>
              <p class="text-gray">Головний конструктор</p>
              <div class="text">Побажання</div>
            </div>
          </div>
          <div class="col-sm-4 scrollReveal sr-scaleDown sr-delay-2 sr-ease-in-out-back">
            <div class="testimonial">
              <div class="author-ava">
                <img src="{% static 'nio_app/img/testimonials/03.png' %}" alt="Author">
              </div>
              <h3 class="author-name">Володимир Чобенко</h3>
              <p class="text-gray">Начальник КУ</p>
              <div class="text">Побажання</div>
            </div>
          </div>
        </div><!-- .row -->
      </div><!-- .container -->
    </section><!-- .fw-section.next-to-footer -->
     {% endblock content %}
