{% extends "nio_app/base_temple.html" %}
{% block title %}
    <title>{{title_head}}</title>
    {% endblock %}
{% block content %}
<h2><strong>{{ fio }}</strong></h2>
<!--<table>-->
<!--    <tr></tr>-->
<!--</table>-->
{% if photo %}
<p><img class="img-article-left" src="{{photo.url}}"></p>
{% endif %}
{% if staff %}
<ul>
    {% for person in staff %}
    <li>Табельний номер: {{person.tabel}}</li>
    <li>Підрозділ: {{person.division_name | lower}}</li>
    <li>Професія: {{person.prof}}</li>
    <li>Оклад: {{person.oklad}}</li>
    <li>Дата народження: {{person.birthday}}</li>
    <li>Телефон: {{person.phone}}</li>
    <li>Домашня адреса: {{person.adress}}</li>
    {% endfor %}
</ul>
{% else %}
<p>Дані відсутні</p>
{% endif %}
<hr>
{% if request.user.is_authenticated %}
<div><a href="{% url 'edit-info_person' slug %}"><h4><strong>Корегувати інформацію</strong></h4></a></div>
{% endif %}
{% endblock %}
<!--<div><a href="{% url 'add-info_person' slug %}"><h4><strong>Корегувати інформацію</strong></h4></a></div>-->
