{% extends "nio_app/base_temple.html" %}

{% block content %}
<h1><strong>{{title}}</strong></h1>
<div class="input-group input-group-sm mb-3">
    <form method="post">
        {% csrf_token %}
<!--        Для отображения ошибки в случае не возможности добаления записи в базу данних-->
         <div class="form-error">{{ form.non_field_errors }}</div>
        <!--    {{ form.as_p }}  as_p означает что форма будет передана через тег <p></p>&ndash;&gt;-->
        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <input type="submit" value="Зареєструвати">
        <input type="reset" value="Очистити">
    </form>
</div>
{% endblock %}