{% extends 'nio_app/base_portal.html' %}
{% load static %}
{% block content %}
<section class="page-title">
  <div class="container">
    <div class="inner">
      <div class="column">
        <div class="title">
          <h1>Персонал</h1>
        </div><!-- .title -->
      </div><!-- .column -->
      <div class="column">
        <div class="breadcrumbs">
          <a href="{% url 'nio_app:index_portal' %}">Головна</a>
          <span class="delimiter"><i class="icon-arrow-right"></i></span>
          <span>Персонал</span>
        </div><!-- .breadcrumbs -->
      </div><!-- .column -->
    </div>
  </div>
</section><!-- .page-title -->
<!-- Catalog -->
<section class="container">
  <!-- Shop Filters -->
  <div class="shop-filters-wrap">
    <div class="shop-filters">
      <div class="inner">
        <div class="shop-filter">
          <div class="shop-filter-dropdown">
            <span>Сортування</span>
            <div class="dropdown">
              <form method="post" name="check_div">
                {% csrf_token %}
                <div><strong>Підрозділи</strong><br>
              {% for d in div %}
              <label class="radio radio-inline">
                <input type="radio" name="divs" value="{{d}}" id="divs_{{d}}"> {{d.abr}}
              </label>
              {% endfor %}
              </div>
                <div><strong>Посада</strong>
              {% for s in staff_prof %}
                <label class="radio">
                  <input type="radio" name="prof" value="{{s.0}}">{{s.0}}<span class="text-gray">({{s.1}})</span>
                </label>
                {% endfor %}
                  </div>
                <label class="radio radio-inline">
                  <input class="btn" type="submit" value="Обрати">
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="shop-filter">
          <div class="shop-filter-dropdown">
            <span>Сортування</span>
            <div class="dropdown">
              <form method="post">
                {% csrf_token %}
                <label class="radio">
                  <input type="radio" name="sort" checked>За табелем
                </label>
                <label class="radio">
                  <input type="radio" name="sort">За ПІБ
                </label>
                <label class="radio">
                  <input type="radio" name="sort">За віком
                </label>
                <label class="radio">
                  <input type="radio" name="sort">За окладом
                </label>
                <label class="radio radio-inline">
                  <input class="btn" type="submit" value="Обрати">
                </label>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- .shop-fiters -->
    <div class="shop-search">
      <div class="widget widget_search">
        <form method="post" class="search-box">
          <input type="text" class="form-control" placeholder="Пошук за призвищем">
          <button type="submit"><i class="icon-search"></i></button>
        </form>
      </div>
    </div><!-- .shop-search -->
  </div><!-- .shop-fiters-wrap -->
  <!-- Shop Items -->
  {% for s in staff %}
  <div class="shop-tile">
    <a href="#" class="thumbnail">
      <img src="{{s.photo.url}}" alt="Photo">
    </a>
    <div class="description">
      <div class="shop-meta">
        <div class="column">
          <span class="price">{{s.fio}}</span>
        </div>
        <div class="column">
          <span class="hidden-xs">у</span>
          <span id="div">
            <i class="icon-ribbon hidden-xs"></i>
            <a href="{% url 'nio_app:division' s.div.slug %}">{{s.div.abr}}</a>
          </span>
        </div>
      </div>
      <table>
        <tr>
          <td>
            <h6 class="shop-title">Табельний номер</h6>
            <p style="margin:0 0 4px">{{s.tabel}}</p>
          </td>
          <td>
            <h6 class="shop-title">Підрозділ</h6>
            <p style="margin:0 0 4px">{{s.div.abr}}</p>
          </td>
        </tr>
         <tr>
          <td>
            <h6 class="shop-title">Професія</h6>
           <p style="margin:0 0 4px">{{s.prof}}</p>
          </td>
          <td>
            <h6 class="shop-title">Дата народження</h6>
            <p style="margin:0 0 4px">{{s.birthday}}</p>
          </td>
        </tr>
        <tr>
        <h4 class="shop-title">Номер телефону</h4>
        <p style="margin:0 0 4px">{{s.phone}}</p>
        </tr>
      </table>
    </div>
  </div><!-- .shop-tile -->
  {% endfor %}
  <!-- Pagination -->
  <div class="pagination space-top-2x">
    <div class="nav-links">
      <span class="current">1</span>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <span>...</span>
      <a href="#">12</a>
    </div>
  </div>
</section>
{% endblock content %}
