{% extends "nio_app/base_temple.html" %}
{% block content %}
<h2><strong>{{ div }}</strong></h2>
     {% if staff %}
        <ul>
            {% for person in staff %}
            <li>
                <a href="{{ person.slug }}">
                    {{person.tabel}} | {{person.fio}}
                </a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Персонал відсутній</p>
    {% endif %}
<hr>
<!--Адрес должен быть уникальным и не повторять чать других адресов иначе запутывается что открывать-->
{% if request.user.is_authenticated %}
<div><a href="{% url 'addstaff' slug %}"><h4><strong>Додати співробітника</strong></h4></a></div>
{% endif %}
{% endblock %}
