{% extends 'nio_app/base_portal.html' %}
{% load static %}



{% block content %}
<section class="page-title">
  <div class="container">
    <div class="inner">
      <div class="column">
        <div class="title">
          <a href="{% url 'publics:publics' %}">
          <h1>Публікації</h1>
          </a>
        </div><!-- .title -->
      </div><!-- .column -->
      <div class="column">
        <div class="breadcrumbs">
          <a href="{% url 'nio_app:index_portal' %}">Головна</a>
          <span class="delimiter"><i class="icon-arrow-right"></i></span>
          <span>Публікації</span>
        </div><!-- .breadcrumbs -->
      </div><!-- .column -->
    </div>
  </div>
</section><!-- .page-title -->

<!-- Container -->
<section class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-lg-9 col-md-8 col-lg-push-3 col-md-push-4">
      <!-- Post -->
      {% for p in object_list %}
      <section class="post-item">
        <a href="{% url 'publics:public_single' p.slug %}" class="post-thumb waves-effect">
          <img src="{{ p.photo_1.url }}" alt="Post01" style="width: 100%; max-height: 500px; object-fit: cover;">
        </a><!-- .post-thumb -->
        <div class="post-body">
          <div class="post-meta">
            <div class="column">
              <span>
                {% for a in p.author.all %}
                <i class="icon-head"></i>
                <a href="{% url 'staff:staff_single' a.slug %}">
                  {{ a.fio }}</a>
                {% endfor %}
              </span>
              <span>у</span>
              {% for c in p.category.all %}
              <span>
                <i class="icon-ribbon"></i>
                <a href="{% url 'publics:publics_category' c.slug %}">{{ c.name }}</a>
              </span>
              {% endfor %}
              <span class="post-comments">
                <i class="icon-speech-bubble"></i>
                <a href="#">{{ p.reviewspubs_set.count }}</a>
              </span>
            </div>
            <div class="column"><span>{{ p.pub_date }}</span></div>
          </div><!-- .post-meta -->
          <a href="{% url 'publics:public_single' p.slug %}" class="post-title">
            <h3>{{ p.name }}</h3>
          </a>
          <p>{{ p.description }}</p>
          <a href="{% url 'publics:public_single' p.slug %}">Читати далі</a>
        </div><!-- .post-body -->
      </section><!-- .post-item -->
      {% endfor %}
      <!-- Pagination -->
        {% include 'nio_app/include/pagination.html' %}
    </div><!-- .col-lg-9.col-md-8 -->
      <!-- Sidebar -->
        {% include 'publics/include/sidebar_pubs.html' %}
  </div><!-- .row -->
</section><!-- .container -->
{% endblock content %}
